@{
    ViewData["Title"] = "Partners";
    ViewData["ActivePage"] = NavPagesService.AllPartners;
}

<div class="row">
    <ul class="nav nav-pills mb-auto justify-content-end">
        <li class="nav-item"><a class="nav-link active" id="AddPartner" asp-area="" asp-controller="Partners" asp-action="Add">Add partner</a></li>
    </ul>
</div>
<div class="text-center">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
            </tr>
        </tbody>
    </table>
</div>