@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link @NavPagesService.IndexNavHandle(ViewContext)" id="tickets" data-toggle="pill" asp-area="" asp-controller="Tickets" asp-action="Index">
        <i class="bi bi-ticket-perforated"></i>
        Tickets
    </a>
    <a class="nav-link @NavPagesService.AllPartnersNavHandle(ViewContext)" id="partners" data-toggle="pill" asp-area="" asp-controller="Partners" asp-action="Index">
        <i class="bi bi-buildings"></i>
        Partners
    </a>
</div>