@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link @NavPagesService.IndexNavHandle(ViewContext)" id="tickets" data-toggle="pill" asp-area="" asp-controller="Tickets" asp-action="Index">
        <i class="bi bi-ticket-perforated"></i>
        Tickets
    </a>
    @if (User.IsInRole("Administrator") || User.IsInRole("Support"))
    {
        <a class="nav-link @NavPagesService.PartnersNavHandle(ViewContext)" id="partners" data-toggle="pill" asp-area="" asp-controller="Partners" asp-action="Index">
            <i class="bi bi-buildings"></i>
            Partners
        </a>
        <a class="nav-link @NavPagesService.ContactsNavHandle(ViewContext)" id="contacts" data-toggle="pill" asp-area="" asp-controller="Contacts" asp-action="Index">
            <i class="bi bi-buildings"></i>
            Contacts
        </a>
    }
</div>